html, body, .map-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 100%;
  color: #272822; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

h2, strong {
  text-shadow: 1px 1px 1px #ccc;
  color: black;
  font-weight: normal; }

div {
  font-family: Arial, sans-serif; }

#map_main {
  width: 100% !important;
  height: 100% !important;
  display: none;
  position: relative;
  z-index: 1; }

#map_search {
  width: 86%;
  position: absolute;
  top: 10px;
  left: 115px;
  background: #fff;
  z-index: 9;
  display: block;
  border: 1px solid #979899;
  box-sizing: border-box;
  padding: 4px 7px 6px;
  font-size: 14px;
  -moz-box-shadow: 1px 1px 2px #666;
  -webkit-box-shadow: 1px 1px 2px #666;
  box-shadow: 1px 1px 2px #666; }

.block {
  padding-top: 10px;
  font-size: 1.1em; }
  .block.website {
    font-size: 0.9em; }

.decile1 h2, .decile1 strong, .decile1 a {
  color: #fa0b0b; }

.decile2 h2, .decile2 strong, .decile2 a {
  color: #fa4d10; }

.decile3 h2, .decile3 strong, .decile3 a {
  color: #de621f; }

.decile4 h2, .decile4 strong, .decile4 a {
  color: #fc7014; }

.decile5 h2, .decile5 strong, .decile5 a {
  color: #ad7414; }

.decile6 h2, .decile6 strong, .decile6 a {
  color: #107010; }

.decile7 h2, .decile7 strong, .decile7 a {
  color: #1abefb; }

.decile8 h2, .decile8 strong, .decile8 a {
  color: #0a0085; }

.decile9 h2, .decile9 strong, .decile9 a {
  color: #0a0085; }

.decile10 h2, .decile10 strong, .decile10 a {
  color: #7f00bf; }

@media screen and (max-width: 980px) {
  #map_search {
    width: 82%; } }

@media screen and (max-width: 768px) {
  #map_search {
    width: 72%; } }

@media screen and (max-width: 480px) {
  #map_search {
    left: 120px;
    width: 60%; } }
