.decile1 h2, .decile1 strong, .decile1 a {
  color: #fa0b0b; }

.decile2 h2, .decile2 strong, .decile2 a {
  color: #fa4d10; }

.decile3 h2, .decile3 strong, .decile3 a {
  color: #de621f; }

.decile4 h2, .decile4 strong, .decile4 a {
  color: #fc7014; }

.decile5 h2, .decile5 strong, .decile5 a {
  color: #ad7414; }

.decile6 h2, .decile6 strong, .decile6 a {
  color: #107010; }

.decile7 h2, .decile7 strong, .decile7 a {
  color: #1abefb; }

.decile8 h2, .decile8 strong, .decile8 a {
  color: #0a0085; }

.decile9 h2, .decile9 strong, .decile9 a {
  color: #0a0085; }

.decile10 h2, .decile10 strong, .decile10 a {
  color: #7f00bf; }

html, body, .map-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 100%;
  color: #272822; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

h2, strong {
  text-shadow: 1px 1px 1px #ccc;
  color: black;
  font-weight: normal; }

div {
  font-family: Arial, sans-serif; }
  article div {
    font-size: 0.9em; }
    article div strong {
      font-size: 1em; }

a {
  color: #3ca95b;
  text-decoration: none; }

#map_main {
  width: 100% !important;
  height: 100% !important;
  display: none;
  position: relative;
  z-index: 1; }

#map_search {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px #666;
  -moz-box-shadow: 0 0 1px #666;
  box-shadow: 0 0 1px #666;
  border: 0;
  box-sizing: border-box;
  width: 87%;
  position: absolute;
  top: 10px;
  left: 110px;
  background: #fff;
  z-index: 9;
  display: block;
  padding: 4px 7px 6px;
  font-size: 14px; }

#map_footer {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 1px #666;
  -moz-box-shadow: 0 0 1px #666;
  box-shadow: 0 0 1px #666;
  border: 0;
  box-sizing: border-box;
  position: absolute;
  width: 84%;
  left: 110px;
  height: 38px;
  bottom: 24px;
  background: white;
  display: block;
  z-index: 12;
  font-size: 0.8em; }
  #map_footer .copyright {
    width: 50%;
    position: absolute;
    top: 10px;
    right: 6px;
    text-align: right;
    z-index: 13; }
    #map_footer .copyright a .smalltext {
      display: none; }
  #map_footer #map_social {
    width: 50%;
    box-sizing: border-box;
    padding: 8px 0 0 8px;
    overflow: hidden;
    position: relative;
    z-index: 14; }

.block {
  padding-top: 10px; }
  .block.website {
    font-size: 0.9em; }

@media screen and (max-width: 980px) {
  #map_search, #map_footer {
    width: 74%; } }
@media screen and (max-width: 768px) {
  #map_search, #map_footer {
    width: 64%; }

  #map_footer {
    left: 90px; } }
@media screen and (max-width: 480px) {
  #map_search {
    width: 54%;
    left: 126px;
    top: 8px;
    padding: 7px 9px 10px;
    font-size: 13px;
    line-height: 20px; }

  #map_footer {
    width: 58%;
    left: 88px;
    bottom: 23px; }
    #map_footer .copyright {
      width: 18%;
      font-size: 0.8em;
      top: 5px;
      text-align: center; }
      #map_footer .copyright a .bigtext {
        display: none; }
      #map_footer .copyright a .smalltext {
        display: block; }
    #map_footer #map_social {
      width: 80%; } }

/*# sourceMappingURL=style.css.map */
