.decile1{
	h2, strong, a{
		color: $decile1;
	}
}
.decile2{
	h2, strong, a{
		color: $decile2;
	}
}
.decile3{
	h2, strong, a{
		color: $decile3;
	}
}
.decile4{
	h2, strong, a{
		color: $decile4;
	}
}
.decile5{
	h2, strong, a{
		color: $decile5;
	}
}
.decile6{
	h2, strong, a{
		color: $decile6;
	}
}
.decile7{
	h2, strong, a{
		color: $decile7;
	}
}
.decile8{
	h2, strong, a{
		color: $decile8;
	}
}
.decile9{
	h2, strong, a{
		color: $decile9;
	}
}
.decile10{
	h2, strong, a{
		color: $decile10;
	}
}