@import 'vars';
@import 'mixins';
@import 'tags';
@import 'deciles';
@import 'legend';

.map-wrap{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.window{
	&--playcentre{
		strong{
			font-size: 1.2em;
		}
		.day{
			display: inline-block;
			min-width: 36px;
		}
	}
}
.block{
	padding-top: 10px;
	&.website{
		font-size: 1em;
	}
}
#map_main{
	width: 100% !important;
	height: 100% !important;
	display: none;
	position: relative;
	z-index: 1;
}
#map-header{
	width: 356px;
	height: 33px;
	position: absolute;
	top: $padding/2;
	right: 0;
	display: block;
	z-index: 8;
	background: $white;
	@include box-shadow($box-shadow);
	@include border-radius($border-radius 0 0 $border-radius);
}
#search-wrap{
	position: absolute;
	display: block;
	z-index: 9;
	right: 2px;
	top: 2px;
	#search-label{
		font-size: $font-small;
	}
	#map_search{
		@include panel;
		width: 292px;
		padding: 5px 7px 7px;
		font-size: 14px;
	}
}

#map_footer{
	position: absolute;
	width: 333px;
	right: 50px;
	bottom: 24px;
	display: block;
	z-index: 12;
	font-size: $font-small;
	padding: 6px 0 3px 6px;
	@include panel;
	@include border-radius($border-radius);
	.copyright{
		display: inline-block;
		box-sizing: border-box;
		width: 50%;
		a{
			.smalltext{
				display: none;
			}
		}
	}
	#map_social{
		width: 50%;
		float: right;
		height: 20px;
		box-sizing: border-box;
		overflow: hidden;
		display: inline-block;
		position: relative;
		top: -2px;
		z-index: 14;
		padding-right: 6px;
		text-align: right;
	}
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
.table{
	margin-top: 10px;
	tr{
		td{
			border: 1px solid $grey;
			border-right-width: 0;
			padding: 5px 10px;
			text-align: center;
			&:last-child{
				border-right-width: 1px;
			}
		}
		&.thead{
			font-weight: bold;
			td{
				border-bottom-width: 0;
				&:first-child{
					border-bottom-width: 1px;
				}
			}
		}
	}
}

@media screen and (max-width:768px){
	#search-label{
		display: none;
	}
	#map-header{
		width: 64%;
		background: none;
		@include box-shadow(none);
	}
}

@media screen and (max-width:480px){
	#map-header{
		width: 54%;
		top: 9px;
	}
	#search-wrap{
		#map_search{
			width: 186px;
		}
	}
	#map_footer{
		width: 55%;
		.copyright{
			width: 18%;
			top: 5px;
			a{
				.bigtext{
					display: none;
				}
				.smalltext{
					display: block;
				}
			}
		}
		#map_social{
			width: 75%;
			top: 4px;
		}
	}
}
