$dark: #272822;

$decile1: #fa0b0b;
$decile2: #fa4d10;
$decile3: #de621f;
$decile4: #fc7014;
$decile5: #ad7414;
$decile6: #107010;
$decile7: #1abefb;
$decile8: #0a0085;
$decile9: #0a0085;
$decile10: #7f00bf;